
<h1 style="text-align: center ;">New Authors</h1>
<form action="/test" method="POST">
    <input type="text" name="name">
    <%- include('../partials/errorMessage.ejs') %>
    <a href="/test">Cancel</a>
    <button type="submit">Create</button>
</form>

