<div class="main">
  <h2>The Apartment</h2>
  <div class="images">
    <div id="image-main">
      <img src="images/livingRoom.jpg" alt="" />
      <p>Living Room</p>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="image">
          <div class="overlay"></div>
          <img src="images/diningRoom.jpg" alt="" name="Dining Room" />
        </div>
      </div>
      <div class="col-3 active">
        <div class="image">
          <div class="overlay"></div>
          <img src="images/livingRoom.jpg" alt="" name="Living Room" />
        </div>
      </div>
      <div class="col-3">
        <div class="image">
          <div class="overlay"></div>
          <img src="images/livingRoom2.jpg" alt="" name="Living Room 2" />
        </div>
      </div>
      <div class="col-3">
        <div class="image">
          <div class="overlay"></div>
          <img src="images/bedroom.jpg" alt="" name="Bedroom" />
        </div>
      </div>
    </div>
  </div>
  <div id="space">
    <h4>The Space</h4>
    <div class="row">
      <div class="col-6">
        <p><i class="fa-solid fa-person"></i> Max people: 4</p>
        <p><i class="fa-solid fa-bath"></i> Bathrooms: 2</p>
        <p><i class="fa-solid fa-bed"></i> Bedrooms: 1</p>
      </div>
      <div class="col-6">
        <p><i class="fa-solid fa-clock"></i> Check In: After <sub>3</sub>PM</p>
        <p><i class="fa-solid fa-clock"></i> Check Out: <sub>12</sub>PM</p>
      </div>
    </div>
  </div>
  <hr />
  <div id="amenities">
    <h4>Amenities</h4>
    <div class="row">
      <div class="col-6">
        <p><i class="fa-solid fa-shower"></i> Shower</p>
        <p><i class="fa-solid fa-wifi"></i> WiFi</p>
        <p><i class="fa-solid fa-tv"></i> TV</p>
      </div>
      <div class="col-6">
        <p><i class="fa-solid fa-utensils"></i> Kitchen</p>
        <p><i class="fa-solid fa-temperature-three-quarters"></i> Heating</p>
        <p><i class="fa-solid fa-wheelchair"></i> Accessible</p>
      </div>
    </div>
  </div>
  <hr />
  <div id="extraInfo">
    <h4>Extra Info</h4>
    <p>
      Our apartment is really clean and we like to keep it that way. Enjoy the
      lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <p>
      We accept:
      <i class="fa-solid fa-credit-card"></i>
      <i class="fa-brands fa-cc-mastercard"></i>
      <i class="fa-brands fa-cc-discover"></i>
      <i class="fa-brands fa-cc-apple-pay"></i>
    </p>
  </div>
  <hr />
  <div id="rules">
    <h4>Rules</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <p>Subscribe to receive updates on available dates and special offers.</p>
    <button class="subscribeBtn">Subscribe</button>
  </div>
  <hr />
  <div id="contact">
    <h4>Contact</h4>
    <div class="contanctInfo">
      <p><i class="fa-solid fa-location-dot"></i>Chicago, US</p>
      <p><i class="fa-solid fa-phone"></i>Phone: +00 151515</p>
      <p><i class="fa-solid fa-envelope"></i>Email: mail@mail.com</p>
    </div>
    <p>Questions? Go ahead, ask them:</p>
    <form action="submit">
      <input type="text" placeholder="Name" />
      <input type="text" name="email" placeholder="Mail" />
      <input type="text" placeholder="Message" />
      <button>Send a Message</button>
    </form>
  </div>
</div>
